.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 48px;
  border-top: solid 1px #c3c8cd;

  .page,
  .break,
  .next,
  .prev {
    list-style-type: none;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #a0bbda;
    margin: 0 5px;
    cursor: pointer;
    border-bottom: solid 4px transparent;
    padding: 0 5px;

    &.active {
      cursor: default;
      color: #3b73b3;
      border-bottom: solid 4px #f5a623;
    }
  }

  .break {
    cursor: default;
  }
  .next,
  .prev {
    color: #3b73b3;

    &.disabled {
      color: #3b73b3;
      cursor: default;
    }
  }
}

// TopPagination
.gridPagination {
  display: flex;
  align-items: center;

  > div {
    line-height: 1;
  }

  .pager {
    font-weight: 300;
    color: #999;
    font-size: 14px;
    line-height: 16px;

    .currentPage {
      width: 30px;
      height: 30px;
      text-align: center;
      border: none;
      background-color: #ebf1f7;
      color: #999;
      border-radius: 2px;
    }
  }

  .controls {
    color: #999;
    margin: 0 10px;

    .prevPage,
    .nextPage {
      font-size: 20px;
      cursor: pointer;
      user-select: none;
      margin: 0 10px;
    }
  }

  .controlDisabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
